body{
    background:blue;
}
#div2{
    border:5px solid ;
    width: 170px;
    height:20px;
    border-radius: 20px;
}
#div1{
    border:8px;
    border-radius: 20px;
    width: 185px;


}
button{
    color:green;

    width:30px;
    background:yellow;


}